:root {
    --glass-color:  linear-gradient(-160deg,rgba(255, 255, 255, 0.5), hsla(0, 0%, 100%, 0.2));
    --glass-shadow: -1px 1px 3px rgba(200,200,200,0.75);
    --lightmode: url(lightmode.webp);
    --hidepanel: -100%;
    --bodyimg: url(2colorbackground.webp);
    --Xbutton: url(whiteXbutton-01.webp);
}
html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin:0;
    width: 100%;
    background-image: var(--bodyimg);
    background-attachment:fixed;
    background-size:cover;
}
.nar {
    width:100%;
    height: min-content;
    background-color: hsla(0, 0%, 90%, 0.75);
    position:sticky;
    top:0;
    backdrop-filter:blur(5px);
    border-bottom: 1px solid black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 3;
}
.nar > p {
    margin-left: 1rem;
    position: relative;
    display:inline;
}
#burger {
    margin-left: 1rem;
    padding:3px;
    width: 24px;
    height: 24px;
    position: relative;
    border:none;
    background-color: transparent;
    transition: 0.5s;
}
#burger:hover {
    scale:0.9;
}
.nar > #burger > .burger {
    width: 100%;
    height: 3px;
    margin-top:5px;
    background-color: black;

}
.theme {
    width: 24px;
    height: 24px;
    overflow:visible;
    background-image: url(lightmode.webp);
    background-size: contain;
    display:block;
    float: right;
    margin-right: 1rem;
    border:none;
    background-color: transparent;
}
#panel {
    width: fit-content;
    height: 100%;
    position: fixed;
    z-index: 4;
    background-color: rgba(50,50,50,0.75);
    backdrop-filter: blur(20px);
    top:0;
    left: var(--hidepanel);
    transition: all 0.5s;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
#closePanel {
    background-image: var(--Xbutton);
    background-size: contain;
    width: 18px;
    height: 18px;
    margin:10px;
    padding:0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid grey;
    float:right;
    transition:0.5s;
    position: relative;
    display: inline;
}
#closePanel:hover {
    rotate: 90deg;
}
.dash {
    color:white;
    font-size:1.5rem;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    padding:5px;
    border-radius:10px;
    transition: margin 0.25s;
    position: relative;
}
.dash:hover {
    background-color: rgba(150, 150, 150, 0.75);
    margin-left:30px;
}
.greeting {
    font-size: 3rem;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-bottom:0;
}
.s_greeting {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:0;
    font-weight:bolder;
}
.card {
    overflow:hidden;
}
.card1 {
    width: 70%;
    height:auto;
    background-color: rgba(255, 237, 249, 0.25);
    background:var(--glass-color);
    margin:20px;
    margin-top:40px;
    backdrop-filter:blur(5px);
    border-top: 2px outset white;
    border-right: 1px solid whitesmoke;
    padding:20px;
    border-radius:2rem;
    overflow:auto;
    transition:all 0.25s;
    box-shadow:var(--glass-shadow);
    float: right;
}
.card1:hover {
    scale: 1.05;
    
}
.learn_more_button {
    margin-top:1rem;
    right: 0;
    bottom:0;
    color:white;
    background-color:rgb(32, 136, 255);
    border: 0px;
    padding:0.5rem;
    border-radius: 11px;
    float: right;
    transition: all 0.25s;
    box-shadow: 0px 0px 3px rgba(80, 147, 255, 0.75);
}
.learn_more_button:hover {
    scale:1.1;
}
.heading1 {
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    height: fit-content;
    width: fit-content;
    text-align: left;
    width:auto;
    margin: 0;
}
.description {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top:1rem;
}
.card2 {
    width: 70%;
    height:fit-content;
    background-color: rgba(255, 243, 229, 0.25);
    background:var(--glass-color);
    margin:20px;
    padding:20px;
    border-radius:2rem;
    border-top: 2px solid white;
    border-right: 1px solid whitesmoke;
    right:0;
    transition:all 0.25s;
    backdrop-filter:blur(5px);
    box-shadow:var(--glass-shadow);
    float: left;
}
.card2:hover {
    scale: 1.05;
}
.heading2 {
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin: 0;
}
#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    width: 100%;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    background: var(--glass-color);
    font-size:1rem ;
    /*width: min-content;*/
    padding: 15px;
    /*height: fit-content;*/
    margin: 20px;
    border-radius: 2rem;
    border-top: 2px solid white;
    border-right: 1px solid whitesmoke;
    transition: all 0.25s;
    backdrop-filter:blur(5px);
    box-shadow: var(--glass-shadow);
}
.box:hover {
    scale: 1.1;
}
.shue {
    width:100%;
}
img {
    width: 100%;
    border-radius: 12px;
}
.buy_button {
    right: 0;
    bottom:0;
    width: 4rem;
    height: fit-content;
    color:white;
    background-color:rgb(32, 136, 255);
    border: 0px;
    padding:0.5rem;
    border-radius: 11px;
    float:right;
    transition: all 0.25s;
    box-shadow: 0px 0px 3px rgba(80, 147, 255, 0.75);
}
.price {
    float: left;
    margin:auto;
    color:red;

}
.opt {
    width:100%;
    height:fit-content;
    position:relative;
    margin-top:1.5rem;
}
.info {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.361), rgba(255, 237, 232, 0.245));
    backdrop-filter:blur(50px);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    padding-top:2rem;
    bottom: 0;
}
.con_top {
    text-align: center;
    font-size: 2rem;
    margin: 15px;
}
.contact {
    margin: 2rem;
    margin-bottom: 0;
}